{% extends "layout.njk" %}
{% block style_separado %}
   <link rel="stylesheet" href="/style-home.css">
{%endblock%}

{% block content %}

  <div class="overlay_relative">
   <div class="container">
     <section class="banner_Main">
      <div class="container">
        <div class="background_pink">
          <div class="info_about">
            <h2>
              As melhores receitas
            </h2>
            <p>
              Aprenda a construir os melhores pratos com receitas criadas
              por profissionais do mundo inteiro
            </p>
          </div>
          <!--info_Main-->
          <div class="img_cook">
            <img src="/chef.png" alt="cook">
          </div>
        </div>
        <!--Background_pink-->
      </div>
    </section>
   </div>

  </div>


  <section class="allProducts">
      <div class="container">
        <div class="products">
        <h2>Últimos Recietas</h2>

        <div class="all-recipes">
            <div class="recipe">
              <img src="/asinhas.png" alt="" srcset="">
              <h4>Lasanha</h4>
              <p>AKZ 300.000 .00</p>
              <a href="" class="button"> VER A RECEITA</a>
            </div>
            <div class="recipe">
              <img src="/asinhas.png" alt="" srcset="">
              <h4>Lasanha</h4>
              <p>AKZ 300.000 .00</p>
              <a href="" class="button"> VER A RECEITA</a>
            </div>
            <div class="recipe">
              <img src="/asinhas.png" alt="" srcset="">
              <h4>Lasanha</h4>
              <p>AKZ 300.000 .00</p>
              <a href="" class="button"> VER A RECEITA</a>
            </div>
        </div>
      </div>
      </div>
  </section>

{% endblock %}