{% extends "layout.njk" %}


{% import 'parts/session-products.njk' as section %}

{% block content %}

  <div class="overlay_relative">
   <div class="container">
     <section class="banner_Main">
      <div class="container">
        <div class="background_pink">
          <div class="info_about">
            <h2>
              As melhores receitas
            </h2>
            <p>
              Aprenda a construir os melhores pratos com receitas criadas
              por profissionais do mundo inteiro
            </p>
          </div>
          <!--info_Main-->
          <div class="img_cook">
            <img src="/chef.png" alt="cook">
          </div>
        </div>
        <!--Background_pink-->
      </div>
    </section>
   </div>

  </div>
  


{{section.products('Mas acessados', products)}}







 

{% endblock %}