{% extends "layout.njk" %}
{% block style_separado %}
   <link rel="stylesheet" href="/style-home.css">
{%endblock%}

{% block content %}

  <div class="overlay_relative">
   <div class="container">
     <section class="banner_Main">
      <div class="container">
        <div class="background_pink">
          <div class="info_about">
            <h2>
              As melhores receitas
            </h2>
            <p>
              Aprenda a construir os melhores pratos com receitas criadas
              por profissionais do mundo inteiro
            </p>
          </div>
          <!--info_Main-->
          <div class="img_cook">
            <img src="/chef.png" alt="cook">
          </div>
        </div>
        <!--Background_pink-->
      </div>
    </section>
   </div>

  </div>


  <section class="allProducts">
      <div class="container">
        <div class="products"> 
        <h2>Mais Acessados</h2>

        <div class="all-recipes">
            {% for recipe in products %}
              <div class="recipe">
              <img src="{{recipe.img if recipe.img else '//placehold.it/500x500'}}" alt="{{recipe.name}}" >

              <h4>{{recipe.name}}</h4>

               {% if recipe.oldPrice != recipe.price %}
                <div class="old-price" >
                        {{recipe.oldPrice}} 
                    </div>
              {% endif %}
              <p>{{recipe.price}}</p>
              <a href="/admin/recipe/{{recipe.id}}" class="button"> VER A RECEITA</a>
            </div>
            {% endfor %}
            
        </div>
      </div>
      </div>
  </section>

{% endblock %}