{% extends "layout_nunjucks.njk" %}

{% block title_homepage %} 
<title>Home Page</title>
{% endblock %}
{% block content_homepage %} 
  <div class= "overlay_relative"> 
  <section class="banner_Main">
    <div class="container">
      <div class="background_pink">
        <div class="info_about">
          <h2>
            As melhores receitas
          </h2>
          <p>
            Aprenda a construir os melhores pratos com receitas criadas
            por profissionais do mundo inteiro
          </p>
        </div>
        <!--info_Main-->
        <div class="img_cook">
          <img src="/chef.png" alt="cook">
        </div>
      </div>
      <!--Background_pink-->
    </div>
  </section>
  <article class="mais_acessadas">
    <div class="container">
      <h2>Mais acessados</h2>
      <div class="menu">
        {% for  menu_main in menu_single %}
      <div class="menu_single" id= "{{menu_main.id}} ">
        <img src=" {{menu_main.img_food}} " alt="assinhas" />
        <div class="{{menu_main.title}} ">
          <h2>{{menu_main.title}} </h2>
          <p class="author">{{menu_main.author}} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>


 <section class="modal ">
    <div class="overlay"></div>
      <div class="container">
        <div class="img_food">
          <img src="" alt="food">
        </div>

        <div class="info_food">
          <h2></h2>
          <p class="author2"></p>
          <p class="close"> Fechar modal</p>
        </div>
      </div>
  </section>

  {% endblock %}