{% extends "layout_nunjucks.njk" %}
{% block title_receitas %}
<title>Receitas</title>
{% endblock %}

{% block content_receitas %}

<div class="overlay_relative">
<article class="mais_acessadas" id="receitas">
  <div class="container">
    <h2>Mais acessados</h2>
 
    <div class="menu">
      {% for  menu_main in menu_single2 %}
      <div class="menu_single">
        <img src=" {{menu_main.img_food}} " alt="assinhas" />
        <div class="title_menu">
          <h2>{{menu_main.title}} </h2>
          <p>{{menu_main.author}} </p>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>

  


</article>

<section class="modal  ">
    <div class="overlay"></div>
      <div class="container">
        <div class="img_food">
          <img src="/asinhas.png" alt="food">
        </div>

        <div class="info_food">
          <h2>asinhas de frango ao barbecue</h2>
          <p>por Vania Steroski</p>
          <p class="close"> Fechar modal</p>
        </div>
      </div>
  </section>
  </div>


{% endblock %}