{% extends "layout.njk" %}

{% block content %}

  <div class="container container_margin">

    
    <section class="content-form">
      <form action="/admin/recipe" method="post" class="form" 
        enctype="multipart/form-data"
      >
      <header class="header_form">
        <h2>Criando receitas</h2>
        <button class="button">Salvar a receita</button>
      </header>
      
        {% include "recipe/fields.njk" %}
    </form>
    </section>

  </div>
  
{% endblock %}
