{% extends "layout.njk" %}

{% block style_separado %}
   <link rel="stylesheet" href="/style-edit.css">
{%endblock%}


{% block content %}

   <div class="container container_margin ">
      <section class="content-form">
         <form method="POST" action="/admin/recipe?_method=PUT" enctype="multipart/form-data"  >
         
         <header class="header_form-edit">
            <h2>Editando  receitas</h2>
            <div class="button_form">
             <button type="submit" class="button">Salvar receita</button>
             <!-- <button class="button">Deletar</button> -->
            </div>
         </header>

            <div class="fields">
              {% include 'recipe/fields.njk'%}

            </div>

         <input type="hidden" name="id" value="{{product.id}}">
      </form>

      <form  method="post"  action="/admin/recipe?_method=DELETE"  >
         <button type="submit" class="button" > Apagar a receita</button>
         <div class="clear"></div>
         <input type="hidden" name="id" value="{{product.id}}">

      </form>
      </section>
   </div>


{% endblock %}