<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="um site completo para uma empresa de receitas chamada Foodfy." />
  <meta name="keywords" content="site, receitas, Foodfy" />
  <meta name="author" content="Samuel Paulo António || Mayk Brito " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>FoodFy</title>
  {% block style_separado %} {% endblock %}

</head>

<body>
{% include "parts/header.njk" %}
 

  {% block content %}{% endblock %}



{% include "parts/footer.njk" %}

<script src="/scripts.js"></script>

</body>

</html>