<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="um site completo para uma empresa de receitas chamada Foodfy." />
  <meta name="keywords" content="site, receitas, Foodfy" />
  <meta name="author" content="Samuel Paulo António || Mayk Brito " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>FoodFy</title>
 {% include "parts/style.njk" %}

</head>

<body>
{% include "parts/header.njk" %}
 

  {% block content %}{% endblock %}



{% include "parts/footer.njk" %}

{% include "parts/script.njk" %}

</body>

</html>