
 <div class="container">
   <header id="page_home">
     <div class="logo">
       <img src="/logo.png" alt="img_logo" onclick="redirect()" />
     </div>



     <form class="search " action="/admin/recipe/search" method="get">
       <input 
       type="text" 
       name="filter" 
       placeholder="Buscar Receitas"
       {%if search.term %} 
       value = {{search.term}}
        {% endif %}>

       <i class="material-icons">
         search
       </i>

     </form>

     <nav>

       <ul>
         <li>
           <a href="/admin/recipe/create">
             <i class="material-icons">add</i>
             Receita
           </a>
         </li>



         <li>
           <a href="/sobre">Sobre</a>
         </li>
         <li>
           <a href="/admin/chefs">
             <i class="material-icons">account_circle</i>
             Minha conta
           </a>
         </li>
       </ul>
     </nav>



   </header>
 </div>
